.dashboard-container {
  padding: 16px;
  background-color: #000;
  min-height: calc(100vh - 64px);
}

.dicom-frame {
  width: 100%;
  height: 100%;
  background: #0a0a0a;
  border: 1px solid #222;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    border-color: #f44336;
    cursor: zoom-in;
  }
}

.image-placeholder {
  color: #222;
  mat-icon { font-size: 50px; width: 50px; height: 50px; }
}

.overlay {
  position: absolute;
  color: #00ff00;
  font-family: 'Courier New', monospace;
  font-size: 0.7rem;
  padding: 4px;
  text-shadow: 1px 1px 2px #000;

  &.tl { top: 0; left: 0; }
  &.tr { top: 0; right: 0; }
  &.bl { bottom: 0; left: 0; }
  &.br { bottom: 0; right: 0; }
}